body {
    font-size: calc(10px + (24 - 10) * ((100vw - 300px) / (1600 - 300)));
}

button {
    background-color: white;
    color: black;
    border: 2px solid black;
    text-align: center;
    padding: 1%;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2%;
    font-size: 1rem;
}

button:hover {
    background-color: black;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#headerText {
    display: block;
    width: 30%;
    height: auto;
    margin: 1%;
}

#textLogo {
    width: 100%;
}

#headerText p {
    width: 90%;
    margin-left: 1%;
}

#theOfficeIntro {
    display: block;
    width: 60%;
    height: auto;
    margin: 1%;
    border-radius: 2%;
}

#timeline {
    padding: 10px;
    margin-top: 10px;
    height: 120px;
}

.pie path, .pie text {
    transition: all 0.1s;
}

.pie path:hover {
    transform: scale(1.05);
    stroke-width: 2;
}

.pie path:hover~text {
    font-size: 1.2em;
}

#tooltip {
    position: absolute;
    width: fit-content;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px;
    pointer-events: none;
}

#tooltip {
    opacity: 0;
}

#seasonsSelect-label, #seasonsSelect {
    margin: 5px;
    font-size: 1.2em;
}

#allEpisodesScatterPlot rect:hover {
    stroke-width: 0;
    fill-opacity: 1;
}

#episodesLists div {
    margin: 0 1% 0 1%;
}

#ol_topRatedEpisodes, #ol_mostPopularEpisodes {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-position: inside;
    padding-inline-start: 0px;
}

ol li {
    border-radius: 20px;
    margin: 5px 0px;
    padding: 10px;
    width: fit-content;
    transition: all 0.2s;
    cursor: pointer;
}

li:hover {
    transform: scale(1.1);
}

#charactersBox {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#charactersBox div {
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    margin: 5px;
    transition: all 0.1s;
    cursor: pointer;
}

#charactersBox div p {
    background-color: white;
    margin: 0px;
}

#charactersBox div img {
    width: 150px;
    height: 180px;
}

#charactersBox div:hover {
    z-index: 1000;
    transform: scale(1.2);
}

footer {
    display: flex;
    justify-content: start;
}

#footerOfficeLogo {
    width: 30%;
    height: auto;
    margin: 1%;
    margin-left: auto;
}

#social_media {
    width: 20%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#social_media li {
    width: 100%;
    margin: 1%;
    transition: all 0.1s;
}

#social_media li:hover {
    transform: scale(1.1);
}

rect:hover {
    stroke: black;
    stroke-width: 1;
    fill-opacity: 0.8;
}

.tick text {
    font-size: 200%;
}

#purposeOfWebsite a {
    color: black;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    button {
        font-size: 1em;
        padding: 2%;
    }
    #timeline {
        display: none;
    }
    .pie path~text {
        font-size: 300%;
    }
    .pie path:hover~text {
        font-size: 300%;
    }
    #seasonsSelect-label, #seasonsSelect {
        margin: 2px;
        font-size: 1.5em;
    }
    #episodesLists {
        margin: 1%;
        display: flex;
        flex-direction: column;
    }
    #episodesLists div {
        margin: 0px;
    }
    #ol_topRatedEpisodes, #ol_mostPopularEpisodes {
        align-items: center;
    }
    ol li {
        margin: 2px 0px;
    }
    li:hover {
        transform: scale(1.1);
    }
    #charactersBox div {
        margin: 2px;
    }
    #charactersBox div img {
        width: 50px;
        height: 60px;
    }
    #footerOfficeLogo {
        width: 50%;
    }
    #social_media {
        width: 40%;
    }
}